<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!-- Заголовок окна приложения. -->
		<add key="ExpertSystemHeader" value="Antivirus Chooser" />
		
		<!-- Название экспертной системы. -->
		<add key="ExpertSystemName" value="Выбор антивирусной программы" />
		
		<!-- Название файла иконки (*.ico). -->
		<add key="IconName" value="icon.ico" />
		
		<!-- Название файла с деревом решений (*.xml). -->
		<add key="TreeSolutionName" value="TreeSolution.xml" />
	</appSettings>
</configuration>